@model Vacations.Models.ViewModels.Domain.EditEmployeeViewModel

<div class="form-group">
    <label asp-for="DepartmentId" class="form-label"></label>
    @Html.DropDownListFor(x => x.DepartmentId, Model.DepartmentsSelectList, "...", new {@class = "select2 form-control js-ddlDepartments"})
    <span asp-validation-for="DepartmentId" class="customValidationError"></span>
</div>