@model Vacations.Models.ViewModels.Domain.EditEmployeeViewModel

@{
    ViewData["Title"] = "Edit employee";
    ViewData["PageName"] = "domain_editEmployee";
    ViewData["Category1"] = "Domain";
}

@*Header*@
<div class="subheader">
    <h1 class="subheader-title text-dark fw-700">
        <i class="subheader-icon far fa-plus-circle text-dark"></i> Edit employee
    </h1>
</div>

<form asp-controller="Domain" asp-action="EditEmployee" method="post" id="formEditEmployee">
    <input asp-for="Id" type="hidden">

    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-hdr bg-primary-700 text-white">
                    <h2>
                        <i class="far fa-pen mr-2 mb-1"></i> Enter data<span class="fw-400"></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button type="button" class="btn btn-panel btn-info waves-effect waves-themed" data-container="body" data-toggle="popover" data-placement="auto" data-content="" data-original-title="" title="">
                            <i class="far fa-question"></i>
                        </button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-offset="0,10" data-original-title="Proširi/Smanji">
                            <i class="far fa-angle-double-up"></i>
                        </button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Cijeli ekran">
                            <i class="far fa-arrows"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-container collapse show">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="form-label"></label>
                                    <input asp-for="FirstName" type="text" class="form-control">
                                    <span asp-validation-for="FirstName" class="customValidationError"></span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <input asp-for="LastName" type="text" class="form-control">
                                    <span asp-validation-for="LastName" class="customValidationError"></span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" type="email" class="form-control">
                                    <span asp-validation-for="Email" class="customValidationError"></span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="NumberOfVacationDaysPerYear" class="form-label"></label>
                                    <input asp-for="NumberOfVacationDaysPerYear" type="text" class="form-control">
                                    <span asp-validation-for="NumberOfVacationDaysPerYear" class="customValidationError"></span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="CompanyId" class="form-label"></label>
                                    @Html.DropDownListFor(x => x.CompanyId, Model.CompaniesSelectList, "...", new {@class = "select2 form-control js-ddlCompanies"})
                                    <span asp-validation-for="CompanyId" class="customValidationError"></span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12 departmentContainer">
                                <partial name="_EditEmployeeDepartmentSelectList"/>
                            </div>

                        </div>
                        <partial name="_EditEmployeeButtonsTemplate"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/app/services/editEmployeeService.js"></script>
    <script src="~/js/app/controllers/editEmployeeController.js"></script>

    <script>

    $(document).ready(function () {
        
        // URL's initialization
           var urlInfo = {};
    
           urlInfo.getDepartmentsPartial = '@Url.Action("GetDepartmentsSelectList", "Domain")';
           var idInfo = @Html.Raw(Json.Serialize(Model.Id));
           var companyIdInfo = @Html.Raw(Json.Serialize(Model.CompanyId));
           editEmployeeController.init(urlInfo, idInfo, companyIdInfo);
        
       
    });

</script>
}