@model Vacations.Models.ViewModels.Request.IndexVacationRequestAdminViewModel
<div class="row">
    <div class="col-xl-12">
        <div class="panel panel-collapsed">
            <div class="panel-hdr bg-primary-700">
                <h2>
                    <span class="far fa-search mr-2"></span>
                    Search
                    <small>
                        Enter/Choose search criteria
                    </small>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel btn-info waves-effect waves-themed" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="auto" data-content="Initialy shown all requests. Search is automatic, enter/choose anything to start searching." data-original-title="" title="Search">
                        <i class="far fa-question"></i>
                    </button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Proširi/Smanji">
                        <i class="far fa-angle-double-up"></i>
                    </button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Cijeli ekran">
                        <i class="far fa-arrows"></i>
                    </button>
                </div>
            </div>
            @*Content*@
            <div class="panel-container collapse">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="CompanyId" class="form-label"></label>
                                @Html.DropDownListFor(x => x.CompanyId, Model.CompaniesSelectList, "...", new {@class = "select2 form-control js-ddlCompanies"})
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="DepartmentId" class="form-label"></label>
                                @Html.DropDownListFor(x => x.DepartmentId, Model.DepartmentsSelectList, "...", new {@class = "select2 form-control js-ddlDepartments"})
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="EmployeeId" class="form-label"></label>
                                @Html.DropDownListFor(x => x.EmployeeId, Model.EmployeesSelectList, "...", new {@class = "select2 form-control js-ddlEmployees"})
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="DateCreated" class="form-label"></label>
                                <input asp-for="DateCreated" type="text" class="form-control datepicker js-dateCreated w-100">
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="DateFrom" class="form-label"></label>
                                <input asp-for="DateFrom" type="text" class="form-control datepicker js-dateFrom w-100">
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="DateTo" class="form-label"></label>
                                <input asp-for="DateTo" type="text" class="form-control datepicker js-dateTo w-100">
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label asp-for="YearId" class="form-label"></label>
                                @Html.DropDownListFor(x => x.YearId, Model.VacationRequestYearSelectList, "...", new {@class = "select2 form-control js-ddlYear"})
                            </div>
                        </div>
                    </div>
                    <partial name="_DatatableSearchButtonsTemplate"/>
                </div>
            </div>
        </div>
    </div>
</div>