@model Vacations.Models.ViewModels.Request.CreateVacationRequestViewModel

@*Laptop*@
<div class="row d-none d-md-block pt-3 d-lg-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
    <div class="d-flex float-right mr-2 mb-2">
        <a asp-action="MyVacationRequests" asp-controller="Request" class="btn btn-secondary waves-effect waves-themed mr-2">
            <span class="far fa-undo mr-1"></span> My requests
        </a>
        <button type="submit" class="btn btn-success waves-effect waves-themed mr-2">
            <span class="far fa-save mr-1"></span> Save data
        </button>

    </div>
</div>


@*Tablet*@
<div class="d-none pt-3 d-sm-block d-md-none">

    <div class="row">
        <div class="col-6">
            <a asp-action="MyVacationRequests" asp-controller="Request" class="btn btn-secondary btn-block waves-effect waves-themed mr-2">
                <span class="far fa-undo mr-1"></span> My requests
            </a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success waves-effect btn-block waves-themed mr-2">
                <span class="far fa-save mr-1"></span> Save data
            </button>
        </div>


    </div>
</div>

@*Mobile*@
<div class="row d-block pt-3 d-sm-none">
    <div class="col-lg-12">
        <div class="frame-wrap justify-content-center">
            <a asp-action="MyVacationRequests" asp-controller="Request" class="btn btn-secondary btn-block waves-effect waves-themed mr-2">
                <span class="far fa-undo mr-1"></span> My requests
            </a>
            <button type="submit" class="btn btn-success waves-effect btn-block waves-themed mr-2 ">
                <span class="far fa-save mr-1"></span> Save data
            </button>
        </div>
    </div>
</div>