@*Laptop*@
<div class="row d-none d-md-block pt-3 d-lg-none  d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
    <div class="d-flex float-right mr-2 mb-2">
        <button class="btn btn-primary waves-effect waves-themed mr-2 js-resetFilter">
            <span class="far fa-undo mr-1"></span> Reset filter
        </button>
    </div>
</div>


@*Tablet*@
<div class="d-none pt-3 d-sm-block d-md-none">
    <div class="col-lg-12">
        <div class="frame-wrap justify-content-center">
            <div class="row">
                <button class="btn btn-primary waves-effect waves-themed mr-2 js-resetFilter ml-auto">
                    <span class="far fa-undo mr-1"></span> Reset filter
                </button>
            </div>
        </div>
    </div>
</div>

@*Mobile*@
<div class="row d-block pt-3 d-sm-none">
    <div class="col-lg-12">
        <div class="frame-wrap justify-content-center">
            <button class="btn btn-primary btn-block waves-effect waves-themed mr-2 js-resetFilter">
                <span class="far fa-undo mr-1"></span> Reset filter
            </button>
        </div>
    </div>
</div>