@*Laptop*@
<div class="row d-none d-md-block d-lg-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
    <div class="d-flex">
        <button class="btn btn-secondary opacity-80 waves-effect waves-themed mr-2 mt-1 ml-auto" data-dismiss="modal">
            <span class="far fa-undo mr-1"></span> Zatvori
        </button>
    </div>
</div>


@*Tablet*@
<div class="d-none d-sm-block d-md-none">
    
    <div class="row">
        <div class="col-6">
            <button class="btn btn-secondary opacity-80 waves-effect waves-themed mr-2 mt-1 ml-auto" data-dismiss="modal">
                <span class="far fa-undo mr-1"></span> Zatvori
            </button>
        </div>
    </div>
</div>

@*Mobile*@
<div class="row d-block d-sm-none">
    <div class="col-lg-12">
        <div class="frame-wrap justify-content-center">
            <button class="btn btn-secondary opacity-80 waves-effect waves-themed mr-2 mt-1 ml-auto" data-dismiss="modal">
                <span class="far fa-undo mr-1"></span> Zatvori
            </button>
        </div>
    </div>
</div>