<div class="js-customLoading overlay d-none">
    <div class="overlay__wrapper">
        <div class="overlay__spinner">
            <strong class="fw-900 fs-xxl"> Molimo pričekajte...</strong>
            <img id="img-spinner" src="@Url.Content("~/img/spinner.gif")" alt="Loading..."/>
        </div>
    </div>
</div>
