@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<AppSettings> AppSettings

<div class="page-logo">
    <a asp-controller="Home" asp-action="LandPage" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
        <img src="~/img/logo.png" alt="@AppSettings.Value.Application.Name" aria-roledescription="logo">
        <span class="page-logo-text mr-1">@AppSettings.Value.Application.Name</span>
    </a>
</div>