@* <div class="info-card"> *@
@*     $1$ <img src="~/img/demo/avatars/avatar-admin.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern"> #1# *@
@*        <img alt="Financira EU" src="~/img/hapih-logo/HAPIH-znak-boja.png" style="background-color: transparent;" class="centerImg"> *@
@* </div> *@
<div class="info-card">
    <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
        <i class="far fa-angle-down"></i>
    </a>
</div>