<nav class="shortcut-menu hidden-sm-down">
    @*<input type="checkbox" class="menu-open" name="menu-open" id="menu_open"/>
    <label for="menu_open" class="menu-open-button ">
        <span class="app-shortcut-icon d-block"></span>
    </label>*@
    <a href="#" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Idi na vrh">
        <i class="far fa-angle-double-up "></i>
    </a>
    @*<a asp-area="Identity" asp-page="/account/logout" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Logout">
        <i class="far fa-sign-out"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left" title="Full Screen">
        <i class="far fa-expand"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left" title="Print page">
        <i class="far fa-print"></i>
    </a>*@
</nav>