<div class="settings-panel">

    <div class="mt-4 d-table w-100 px-5">
        <div class="d-table-cell align-middle">
            <h5 class="p-0">
                Accessibility
            </h5>
        </div>
    </div>

    <div class="list" id="mbf">
        <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-bigger-font"></a>
        <span class="onoffswitch-title">Bigger font</span>
        <span class="onoffswitch-title-desc">Bigger font</span>
    </div>
    <div class="list" id="mhc">
        <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-high-contrast"></a>
        <span class="onoffswitch-title">High contract(WCAG 2 AA)</span>
        <span class="onoffswitch-title-desc">4.5:1 text contrast</span>
    </div>
    <div class="list" id="mcb">
        <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-color-blind"></a>
        <span class="onoffswitch-title">Daltonism </span>
        <span class="onoffswitch-title-desc">Lack of color accuracy</span>
    </div>
  
    <div class="list" id="dan">
        <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle"
           data-class="mod-disable-animation"></a>
        <span class="onoffswitch-title">Remove CSS animations</span>
        <span class="onoffswitch-title-desc">Removing CSS animations in web app</span>
    </div>

    <div class="list mt-3">
        <span class="onoffswitch-title">Font size </span>
        <div class="btn-group btn-group-sm btn-group-toggle my-2" data-toggle="buttons">
            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-sm" data-target="html">
                <input type="radio" name="changeFrontSize"> Small
            </label>
            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text" data-target="html">
                <input type="radio" name="changeFrontSize" checked="checked"> Medium
            </label>
            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-lg" data-target="html">
                <input type="radio" name="changeFrontSize"> Large
            </label>
            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-xl" data-target="html">
                <input type="radio" name="changeFrontSize"> Extra large
            </label>
        </div>
        @*<span class="onoffswitch-title-desc d-block mb-g">Change <strong>root</strong> font size to effect rem values</span>*@
    </div>
    @*<hr class="m-0">
    <div class="p-3 d-flex align-items-center justify-content-center bg-faded">
        <a href="#" class="btn btn-danger" data-action="app-reset"><strong>Poništi postavke teme</strong></a>
    </div>*@
</div>