@page
@model Vacations.Areas.Identity.Pages.Account.CheckEmailModel

@{
    ViewData["Title"] = "Potvrda email adrese";
    ViewData["PageName"] = "check_email";
}

@section PageHeading {
    <div class="col col-md-6 col-lg-7 hidden-sm-down">
        <h2 class="fs-xxl fw-500 text-white">
            @ViewData["Title"]
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                Provjerite vaš email sandučic kako biste potvrdili vašu email adresu.
            </small>
        </h2>

    </div>
}
